body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(248, 246, 246, 0.384) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
span {
    font-family: "Poppins", sans-serif;
    margin: 0em;
    padding: 0em;
}
.ant-btn{
    margin: 0em;
    padding: 0em;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background-color: rgb(250, 248, 248);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    height: 2em;
}
.ant-modal-close{
    outline: none !important;
}
.ant-modal-close:hover{
     border-radius: 50%;
    background:lightcyan;
    
}
.ant-modal-close:active{
    outline: none !important;
   
}