body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0em;
    padding: 0em;
}
*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background-color: rgb(250, 248, 248);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    height: 2em;
}
