.presentational-badge-main {
    padding: 0em;
    margin: 0em;
    height: fit-content;
    margin: 0% 2%;
    padding: 0.5% 5%;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 600;
}
.presentational-badge-main > p {
    padding: 0em;
    margin: 0em;
    font-size: 0.9em;
}

.presentational-badge-main > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
