.menu-item{
    width: 20em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5%;
    margin: 2% 0%;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(255, 255, 255);
    cursor: pointer;
}
.menu-item:hover{
    background: rgb(87, 255, 255);
    
}
.menu-name{
    font-size: 1.1em;
    padding:0em;
    margin:0em 2em;
    
}.menu-icon{
    font-size: 1.5em;
    color: rgb(145, 145, 145);

    display: flex;
    align-items: center;
    
}