.column-main{
    margin: 1%;
    width: 22em;
    padding:1% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(190, 190, 190, 0.329);
    
}
.colmn-cont-secondary{
      /* overflow-x: hidden;
    overflow-y: scroll; */
    width: 22em;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}